<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="service.name" value="${TICKET_SERVICE_CONTAINER_NAME:-default-service}" />

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>logstash:5044</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!-- Custom fields including service name -->
            <customFields>{
                "service": "${service.name}",
<!--                "host": "${HOSTNAME:-unknown}",-->
                "@version": "0.0.1"
                }</customFields>

            <!-- Field name mappings -->
            <fieldNames>
                <timestamp>@timestamp</timestamp>
                <logger>logger_name</logger>
                <thread>thread_name</thread>
                <levelValue>level_value</levelValue>
            </fieldNames>

            <!-- Include caller data if needed -->
            <includeCallerData>false</includeCallerData>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOGSTASH"/>
    </root>
</configuration>